*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: 'Sen', sans-serif;
}

.logo-container{
    flex: 1;
}

.logo{
    font-size: 30px;
    color: rgb(255, 0, 55);
}

.menu-container{
    padding-left: 90px;
    flex: 6;
}

.menu-list{
    display: flex;
    list-style: none;
    cursor: pointer;
}

.menu-list-item{
    margin-right: 10px;
    padding: 5px;
}

.menu-list-item.active{
    font-weight: bold;
}

.menu-list-item:hover,
.menu-list-item.active {
    background-color: #374151;
    color: white;
    border-radius: 40%; /*como aumentar a caixa?*/
}

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.profile-text-container{
    margin: 0 20px;
}

.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 100%;
    object-fit: cover;
}

.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease all;
}

.toggle-icon{
    color: goldenrod;
}

.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.left-menu-icon{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

.left-menu-icon:hover,
.left-menu-icon.active {
    background-color: #374151;
    color: white;
    border-radius: 30%; /*como aumentar a caixa?*/
}

.container{
    background-color: #151515;
    min-height: calc(100vh - 50px);
    color: white;
}

.content-container{
    margin-left: 50px;
}

.featured-content{
    height: 50vh;
    padding: 50px;
}

.featured-title{
    width: 200px;
}

.featured-desc{
    width: 500px;
    color: lightgray;
    margin: 20px 0;
}

.featured-button{
    background-color: #4dbf00;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    cursor: pointer;
}

.movie-list-container{
    padding: 20px;
}

.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}

.movie-list{
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

.movie-list-item{
    margin-right: 5px;
    position: relative;
}

.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}

.movie-list-item-img{
    transition: all 1s ease-in-out;
    width: 350px; /*mudar tamanho dos blocos de filmes*/
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.movie-list-item-title{
    background-color: #333;
    padding: 0 10px;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-desc{
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.movie-list-item-button{
    padding: 10px;
    background-color: #4dbf00;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    left: 50px;
    opacity: 0;
    transition: 1s all ease-in-out;
}

.arrow{
    font-size: 120px;
    position: absolute;
    top: 90px;
    right: 0;
    color: lightgrey;
    opacity: 0.5;
    cursor: pointer;
}

.container.active{
    background-color: white;
}

.movie-list-title.active{
    color: black;
}

.navbar-container.active{
    background-color: white;
    color: black
}

.sidebar.active{
    background-color: white;
}

.left-menu-icon.active{
    color: black
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

@media only screen and (max-width: 940px){
    .menu-container{
        display: none;
    }
}